@page "/identitydocuments"
@using Data.Resources

<nav aria-label="progress" class="step-indicator">
    <ul class="steps">
        <li class="complete">
            <a href="/cdnform">@labels_en.CDNApplicationProgressApplicantDetails</a><span class="sr-only">completed</span>
        </li>
        <li class="complete">
            <a href="/mailingaddress">@labels_en.CDNApplicationProgressMailingAddress</a><span class="sr-only">completed</span>
        </li>
        <li class="active" aria-current="true">
            @labels_en.CDNApplicationProgressIdentityDocuments
        </li>
        <li>
            @labels_en.CDNApplicationProgressSignature<span class="sr-only">not completed</span>
        </li>
    </ul>
</nav>

<br />


<div class="wb-frmvld">
    <form role="form" method="get" action="/">
        <div class="form-group">
            <label for="ApartmentUnitNumber">Document</label>
            <input id="Document" type="file" class="form-control" name="filename">
        </div>
    </form>

    <a class="btn btn-primary" href="/signature" role="button">Next</a>
    <a class="btn btn-secondary" href="/" role="button">Cancel</a>

</div>



@code {

}
