@page "/"

<h1>APPLICATION FOR CANDIDATE DOCUMENT NUMBER (CDN)</h1>

<div class="alert alert-info">
    <p>
        The personal information provided on this form is collected under the authority of Section 16 of the <b><i>Canada Shipping Act,2001</i></b>.
        This information is required for a Seafarer to obtain a Candidate Document Number (CDN).
        The information is then used to issue a Canadian Maritime Document and other marine documents in order to comply with the <b><i>Act</i></b> and the <b><i>Marine Personnel Regulations</i></b>.
        The information collected is described in personal information bank entitled Seafarers' Certificates and Documents (TC PPU 030).
        Under the provisions of the <b><i>Privacy Act</i></b>, individuals have the right of access to, correction of and protection of their personal information.
        Instructions for obtaining your personal information are provided in <a href="https://www.tc.gc.ca/eng/corporate-services/atip-infosource-934.htm">Info Source</a>.
    </p>
</div>

<a class="btn btn-primary" href="/cdnform" role="button">Next</a>
